{% extends "common/login_base.html" %}

{% load staticfiles %}

{% block css %}
    <style>
        select, input { margin: 4px 0px; }
        #dept { width:45%; display:inline }
        #group { width:45%; display:inline }
    </style>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="text-center">
            <img src="{% static 'images/holyhappyspring.jpeg' %}" width="70%"/>
        </div>
        <div id="login_panel" class="panel panel-default">
            <div class="panel-body">
            <form id="login_form" class="form-signin" method="post">
                {% csrf_token %}
                <select id="dept" name="dept" class="form-control input-sm">
                    <option value="">-- 소속선택 --</option>
                    <option value="U" {% if dept == 'U' %}selected="selected"{% endif %}>대학부</option>
                    <option value="Y" {% if dept == 'Y' %}selected="selected"{% endif %}>청년부</option>
                    <option value="T" {% if dept == 'T' %}selected="selected"{% endif %}>선생님</option>
                </select>
                <select id="group" name="group" class="form-control input-sm">
                    <option value="">-- 그룹선택 --</option>
                    <option value="T" {% if group == 'T' %}selected="selected"{% endif %}>선생님</option>
                    <option value="1A" {% if group == '1A' %}selected="selected"{% endif %}>1A</option>
                    <option value="1B" {% if group == '1B' %}selected="selected"{% endif %}>1B</option>
                    <option value="1C" {% if group == '1C' %}selected="selected"{% endif %}>1C</option>
                    <option value="1D" {% if group == '1D' %}selected="selected"{% endif %}>1D</option>
                    <option value="2A" {% if group == '2A' %}selected="selected"{% endif %}>2A</option>
                    <option value="2B" {% if group == '2B' %}selected="selected"{% endif %}>2B</option>
                    <option value="2C" {% if group == '2C' %}selected="selected"{% endif %}>2C</option>
                    <option value="2D" {% if group == '2D' %}selected="selected"{% endif %}>2D</option>
                    <option value="3A" {% if group == '3A' %}selected="selected"{% endif %}>3A</option>
                    <option value="3B" {% if group == '3B' %}selected="selected"{% endif %}>3B</option>
                    <option value="3C" {% if group == '3C' %}selected="selected"{% endif %}>3C</option>
                    <option value="3D" {% if group == '3D' %}selected="selected"{% endif %}>3D</option>
                    <option value="4A" {% if group == '4A' %}selected="selected"{% endif %}>4A</option>
                    <option value="4B" {% if group == '4B' %}selected="selected"{% endif %}>4B</option>
                    <option value="4C" {% if group == '4C' %}selected="selected"{% endif %}>4C</option>
                    <option value="4D" {% if group == '4D' %}selected="selected"{% endif %}>4D</option>
                </select>
                <label for="name" class="sr-only">이름</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="이름" required autofocus>
                <label for="password" class="sr-only">전화번호 뒤 4자리</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="전화번호 뒤 4자리" required>
                <div class="text-center">
                    <a href="javascript:login();"><img src="{% static 'images/newsongy_green.png' %}" width="60px" /></a>
                </div>
            </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    function login() {
        if($("#dept").val() == "") {
            alert("소속을 선택해주세요.");
            $("#dept").focus();
            return false;
        }
        if($("#group").val() == "") {
            alert("그룹을 선택해주세요.");
            $("#group").focus();
            return false;
        }
        if($("#name").val() == "") {
            alert("이름을 입력해주세요.");
            $("#name").focus();
            return false;
        }
        if($("#password").val() == "") {
            alert("본인의 전화번호 뒤 4자리를 입력해주세요.");
            $("#password").focus();
            return false;
        }
        $("#login_form").submit();
    }
</script>
{% endblock %}